/* CSS declarations go here */

@import url(http://fonts.googleapis.com/css?family=Rokkitt);
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #6cb33f;
    text-align: center;
}

h1 {
    font-family: 'Rokkitt', serif;
    text-align: center;
    padding-top: 0;
    margin: 10px;
}

ul {
    list-style: none;
}

li {
    font-family: 'Rokkitt', serif;
    font-size: 2em;
    position: relative;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}

p {
    font-family: 'Rokkitt', serif;
}


/* Quiz Classes */

.row {
    margin-right: 0px;
    margin-left: 0px;
}


/*.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 150px;
    height: 45px;
    text-align: center;
    background-color: #f6f6f6;
   
    color: black;
    font-family:'Rokkitt', serif;
    font-size: 1em;
    position: center;
    margin: auto;
    padding-top: 20px;
}*/


/* .question {
    font-family: 'Rokkitt', serif;
    font-size: 24px;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    text-align: center;
} */


/* 
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family: 'Rokkitt', serif;
    color: red;
}
*/

.choiceList {
    /* font-family: 'Rokkitt', serif;
    font-size: 13px;
    color: grey; */
    text-align: left;
}


/* 
.result {
    width: 60%;
    height: 5%;
    border-radius: 6px;
    background-color: white;
    margin: auto;
    margin: 20px auto;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
}

.endOfGame {
    width: 60%;
    height: 5%;
    border-radius: 6px;
    background-color: white;
    margin: auto;
    margin: 20px auto;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
} */


/*.bar {
    height: 2px;
    width: 0px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #56c5ff;
}*/


/* End of Quiz Classes */